node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.local
.env.*.local
.idea/
*.log
.cache/
.turbo/
.next/
.nuxt/
.parcel-cache/
.pnp.cjs
.pnp.loader.mjs
